# ignore data folder
data/

# ignore test output folder and subfolders
output/
deltas/
entropy/
qc/
query/
ranking/
renderings/

# ignore pycache folder
__pyache__/

# ignore pyc files
*.pyc

# ignore .DS_Store
.DS_Store
